*{
    margin: 0;
    padding: 0;
}



body{
    background-color: black;
    color: white;
    font-family:"Bokor", system-ui;
    font-size: 18px;

}
h1{
    text-align: center;
    
}


.container02{
    text-align: center;
    text-justify: auto;
    margin-top: 15px;
    padding: 20px;

}

.container03{

    text-align: center;
    text-justify: auto;
    padding: 20px;
}

.container04{
    text-align: center;
    text-justify: auto;
    padding: 20px;

}

.container05{

    text-align: center;
    text-justify: auto;
    padding: 20px;
}


